.container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}

.inside-box {
    width: 50%;
    height: 50%;
}

.yellow-background {
    background-color: rgb(240, 240, 172);
}

.grey-background {
    
    background-color: rgb(107, 107, 134);
}

.blue-background {
  
    background-color: rgb(59, 120, 173);
}

.green-background {
    
    background-color: rgb(56, 155, 155);
}